.box1,.box2,.box3,.box4{
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  float: right;
  height: 200px;
  width: 200px;

}
:hover{
  background-color: white;

}
.box1{
  background-color: red;
}
.box2{
  background-color: blue;
}
.box3{
  background-color: yellow;
}
.box4{
  background-color: green;
}
