@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');


.one{
  font-family: "Gugi-Regular",cursive;
}
.two{
  font-family: 'Gamja Flower',cursive;
}
.three{
  font-family: "Gugi-Regular",cursive;
}
